* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Gotham Pro";
}

.main__container {
   max-width: 850px;
   margin: 50px 0 0 130px;
   margin: 0 auto;
}

body {
   background: #f7f9fb;
}

.big-box {
}

.container {
   max-width: 1480px;
   padding: 0 20px;
   margin: 50px auto 0;
}

.main {
   display: flex;
}

.form-up {
   box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
   border-radius: 4px;
   background-color: #ffff;
   padding: 25px 30px 0;

   &__button {
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background-color: white;
      transition: all 300ms;
      border-radius: 5px;
   }

   &__button:hover {
      background-color: grey;
   }

   &__button:nth-child(4) {
      width: 32px;
      height: 32px;
   }

   &__hr {
      border: 1px solid #f4f4f4;
   }

   &__input {
      height: 60px;
      font-size: 18px;
      line-height: 17px;
      border: 0;
      color: rgba(24, 24, 24, 0.2);
      outline: 0;
   }

   &__button-box {
      display: flex;
      gap: 25px;
      align-items: center;
      justify-content: center;
   }

   &__title {
      font-size: 12px;
      line-height: 11px;
      text-transform: uppercase;
      color: #181818;
      margin-bottom: 20px;
   }

   &__box {
      display: flex;
      justify-content: space-between;
   }
}

.about {
   &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-size: 12px;
      line-height: 11px;
      text-align: center;
      text-transform: uppercase;
      color: #181818;
      margin: 35px 0;
   }

   &__a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      font-size: 12px;
      line-height: 11px;
      text-align: center;
      text-transform: uppercase;
      color: #0275b1;
   }
}

.mt {
   margin-top: 20px;
}

.comment-up {
   background-color: #ffff;
   border-radius: 4px;

   &__text {
      font-size: 10px;
      line-height: 150%;
      text-decoration: none;
      padding: 15px 0 15px 15px;
   }

   &__a {
      color: #0275b1;
      text-decoration: none;
   }

   &__hr {
      border: 1px solid #f4f4f4;
   }

   &__main {
      padding: 15px 0 20px 30px;
   }

   &__logo-box {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 15px;
   }

   &__logo-text {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      text-align: center;
      gap: 5px;
      font-size: 14px;
      line-height: 13px;

      color: #181818;
   }

   &__main-text {
      font-size: 14px;
      line-height: 150%;
      color: #181818;

      img {
         margin-top: 15px;
      }
   }

   &__read {
      font-size: 12px;
      line-height: 11px;
      text-transform: uppercase;
      margin: 15px 0 0;
      color: #0275b1;
   }

   &__down {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__item-box {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__item {
      width: 100px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7.5px;
      font-size: 12px;
      line-height: 11px;
      text-transform: uppercase;

      color: #181818;
      font-weight: bold;
   }
}

.right-menu {
   max-width: 290px;
}

.menu-up {
   position: relative;

   &__logo {
      img {
      }
   }

   &__text-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      padding: 0 20px 26px 30px;
      margin-top: 66px;
   }

   &__title {
      font-size: 14px;
      line-height: 13px;
      color: #181818;
      display: flex;
      gap: 4px;
   }

   &__text {
      font-size: 10px;
      line-height: 150%;
      text-align: center;
      color: #181818;
   }
   &__icon {
      position: absolute;
      right: 1px;
      top: 110px;
   }
}
